<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Gui_Tset.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Gui_Tset.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
	  <add key="DefaultPath" value="C:\Logs\Default/" />
	  <add key="ReceipeFilepath" value="C:\Logs\Recipe/" />
	  <add key="BackupReceipeFilepath" value="C:\Logs\Recipe Backup/" />
	  <add key="Deleted_Logs" value="C:\Logs\Delete Logs/" />
	  <add key="Error_Logs" value="C:\Logs\Error Logs/" />
	  <add key="Success_Logs" value="C:\Logs\Slogs/" />
	  <add key="warn" value="C:\Logs\Warn/" />
    <add key="FiducialTemplate" value="C:\Users\adity\Downloads\Gui_Tset_visiontest\Gui_Tset\bin\Debug\FiducialTemplate/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <applicationSettings>
    <Gui_Tset.My.MySettings>
      <setting name="size" serializeAs="String">
        <value />
      </setting>
    </Gui_Tset.My.MySettings>
  </applicationSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    <add name="Gui_Tset.My.MySettings.userlogin11ConnectionString"
      connectionString="Data Source=(localdb)\Juhi;Initial Catalog=userlogin11;Integrated Security=True;Encrypt=True"
      providerName="System.Data.SqlClient" />
    <add name="Gui_Tset.My.MySettings.userlogin11ConnectionString1"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\userlogin11.accdb"
      providerName="System.Data.OleDb" />
    <add name="Gui_Tset.My.MySettings.useraccessConnectionString"
      connectionString="Data Source=(localdb)\LLMdb;Initial Catalog=useraccess;Integrated Security=True;Encrypt=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <Gui_Tset.My.MySettings>
      <setting name="ProgramName" serializeAs="String">
        <value />
      </setting>
      <setting name="Good_Count" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NG_Count" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fiducial" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MES1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BARCODE_SC" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="L_MARK" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FLIP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SMEMA_S" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CAM_SCA" serializeAs="String">
        <value>False</value>
      </setting>
    </Gui_Tset.My.MySettings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>